@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
  
}

.app{
  background-image: linear-gradient(to left bottom, #030c1a, #081323, #0a182c, #0b1d36, #0d2240);
  min-height: 100vh;
  background-color: black;
  color: white;
  padding-top: 6rem;
  padding-bottom: 70px;
}

